make-scenario-3-update-subscription.json
{
  "name": "Social Media Platform - Update Subscription",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 3,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Payment/Renewal Webhook"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook",
            "label": "Webhook",
            "required": true
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "util:SetVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          {
            "name": "startDate",
            "value": "{{formatDate(now; \"YYYY-MM-DDTHH:mm:ss.SSS[Z]\")}}",
            "scope": "roundtrip"
          },
          {
            "name": "endDate",
            "value": "{{formatDate(addMonths(now; 1); \"YYYY-MM-DDTHH:mm:ss.SSS[Z]\")}}",
            "scope": "roundtrip"
          },
          {
            "name": "subscriptionStatus",
            "value": "active",
            "scope": "roundtrip"
          }
        ],
        "duplicateScope": false
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "variables": {
              "items": [
                {
                  "scope": {
                    "label": "One cycle"
                  }
                },
                {
                  "scope": {
                    "label": "One cycle"
                  }
                },
                {
                  "scope": {
                    "label": "One cycle"
                  }
                }
              ],
              "mode": "chose"
            }
          }
        },
        "expect": [
          {
            "name": "variables",
            "type": "array",
            "label": "Variables",
            "spec": [
              {
                "name": "name",
                "label": "Variable name",
                "type": "text",
                "required": true
              },
              {
                "name": "value",
                "label": "Variable value",
                "type": "any"
              },
              {
                "name": "scope",
                "type": "select",
                "label": "Variable lifetime",
                "required": true,
                "validate": {
                  "enum": [
                    "roundtrip",
                    "execution"
                  ]
                }
              }
            ],
            "required": true
          },
          {
            "name": "duplicateScope",
            "type": "boolean",
            "label": "Continue the execution of the route even if there already is a variable with the same name",
            "required": true
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://your-app.replit.app/api/auth/update-subscription",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "X-API-Key",
            "value": "your-api-key-here"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "type": "object",
        "body": {
          "email": "{{1.email}}",
          "subscriptionStatus": "{{2.subscriptionStatus}}",
          "subscriptionStartDate": "{{2.startDate}}",
          "subscriptionEndDate": "{{2.endDate}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "expect": {
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null,
                null
              ]
            },
            "qs": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            },
            "type": {
              "label": "Object"
            }
          }
        },
        "parameters": [
          {
            "name": "handleErrors",
            "type": "boolean",
            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "serializeUrl",
            "type": "boolean",
            "label": "Serialize URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "post",
                "put",
                "patch",
                "delete",
                "options",
                "head"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "validate": {
              "enum": [
                "raw",
                "x_www_form_urlencoded",
                "multipart_form_data"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Content type",
            "validate": {
              "enum": [
                "text/plain",
                "application/json",
                "application/xml",
                "text/xml",
                "text/html",
                "custom"
              ]
            }
          },
          {
            "name": "type",
            "type": "select",
            "label": "Request Content",
            "validate": {
              "enum": [
                "object",
                "text"
              ]
            }
          }
        ]
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}
